body {
    margin: 1em;
}

details summary {
    display: inline-block;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

tbody tr {
    border-top: 1px solid black;
}

th, td {
    padding: 0.25em;
}

td > dl {
    margin: 0;
}

dl * + dt {
    margin-top: 1em;
}

.inline dt, .inline dd {
    display: inline;
    margin: 0;
}

.inline dt:after {
    content: ':';
}

.inline dd:after {
    content: ';';
}
