<ng-template #unavailable i18n><p>n/a</p></ng-template>

<h2 i18n>Budget forms</h2>

<!--
<nav>
    <ul>
        <li><a routerLink="/browser" i18n-title title="Show first list page" i18n>First list page</a></li>
        <li><a routerLink="/browser" i18n-title title="Show previous list page" i18n>Previous list page</a></li>
        <li><a routerLink="/browser" i18n-title title="Show next list page" i18n>Next list page</a></li>
        <li><a routerLink="/browser" i18n-title title="Show last list page" i18n>Last list page</a></li>
    </ul>
</nav>

<nav>
    <ul>
        <li><a routerLink="/browser" i18n-title title="Show first detail" i18n>First detail</a></li>
        <li><a routerLink="/browser" i18n-title title="Show previous detail" i18n>Previous detail</a></li>
        <li><a routerLink="/browser" i18n-title title="Show next detail" i18n>Next detail</a></li>
        <li><a routerLink="/browser" i18n-title title="Show last detail" i18n>Last detail</a></li>
    </ul>
</nav>
-->

<nav>
    <ul>
        <li><a routerLink="/browser" [queryParams]="{id: first?.id}" [enabled]="first" i18n-title title="Show first listed detail" i18n>First listed detail</a></li>
        <li><a routerLink="/browser" [queryParams]="{id: previous?.id}" [enabled]="previous" i18n-title title="Show previous listed detail" i18n>Previous listed detail</a></li>
        <li><a routerLink="/browser" [queryParams]="{id: next?.id}" [enabled]="next" i18n-title title="Show next listed detail" i18n>Next listed detail</a></li>
        <li><a routerLink="/browser" [queryParams]="{id: last?.id}" [enabled]="last" i18n-title title="Show last listed detail" i18n>Last listed detail</a></li>
        <li><a routerLink="/browser" [queryParams]="{id: current?.id}" [enabled]="current && !detailed" i18n-title title="Show detail" i18n>Open detail</a></li>
        <li><a routerLink="/browser" [enabled]="detailed" i18n-title title="Show list" i18n>Close detail</a></li>
    </ul>
</nav>

<nav>
    <ul>
        <li *ngIf="detailed" i18n>Detail {{index + 1 || ''}} of {{items?.length || 0}} items</li>
        <li *ngIf="!detailed" i18n>List of {{items?.length || 0}} items</li>
    </ul>
</nav>

<ng-container *ngIf="items$ | async as items; else unavailable">
    <browser-list-component [items]="items" [offset]="offset" [hidden]="detailed"></browser-list-component>
    <browser-detail-component [item]="current" [previous]="previous" [next]="next" [hidden]="!detailed"></browser-detail-component>
</ng-container>
