<nav>
    <ul>
        <li><a routerLink="/browser" [queryParams]="{id: previous}" [attr.disabled]="!previous || undefined" i18n-title title="Show previous detail" i18n>Previous detail</a></li>
        <li><a routerLink="/browser" [queryParams]="{id: next}" [attr.disabled]="!next || undefined"  i18n-title title="Show next detail" i18n>Next detail</a></li>
        <li><a routerLink="/browser" i18n-title title="Close detail" i18n>Close detail</a></li>
    </ul>
</nav>

<article>
    <h2>{{item.name}}</h2>

    <section>
        <dl class="inline">
            <!--
            <dt i18n>ID</dt>
            <dd>{{item.id}}</dd>
            -->
            <dt i18n>Type</dt>
            <dd>{{item.type}}</dd>
            <dt i18n>Period</dt>
            <dd>{{item.period}}</dd>
            <dt i18n>Organization</dt>
            <dd>{{item.organization}}</dd>
        </dl>

        <table>
            <thead>
                <tr>
                    <th i18n><abbr i18n-title title="Value number" i18n>Nr.</abbr></th>
                    <!--
                    <th i18n>ID</th>
                    -->
                    <th i18n>EBK</th>
                    <th i18n>EBK Title</th>
                    <th i18n>CPV</th>
                    <th i18n>CPV Title</th>
                    <th i18n>Funding</th>
                    <th i18n>Amount</th>
                    <th i18n>Status</th>
                    <th i18n>User</th>
                    <th i18n>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let value of item.values; let index = index">
                    <td>{{1 + index}}</td>
                    <!--
                    <td>{{value.id}}</td>
                    -->
                    <td class="compact">{{value.ebk}}</td>
                    <td>{{value.ebkTitle}}</td>
                    <td class="compact">{{value.cpv}}</td>
                    <td>{{value.cpvTitle}}</td>
                    <td>{{value.funding}}</td>
                    <td>{{value.amount}}</td>
                    <td>{{value.status}}</td>
                    <td>{{value.user}}</td>
                    <td>{{value.timestamp | timestamp}}</td>
                </tr>
            </tbody>
        </table>
    </section>

    <aside>
        <dl class="inline">
            <dt i18n>State</dt>
            <dd>{{item.metadata.state}}</dd>
            <dt i18n>Version</dt>
            <dd>{{item.metadata.version}}</dd>
            <dt i18n>User</dt>
            <dd>{{item.metadata.user}}</dd>
            <dt i18n>Timestamp</dt>
            <dd>{{item.metadata.timestamp | timestamp}}</dd>
        </dl>
    </aside>
</article>
