<ng-template #unavailable i18n><p>n/a</p></ng-template>

<h2>Fact</h2>

<ng-container *ngIf="item$ | async as item; else unavailable">
    <dl>
        <dt i18n>ID</dt>
        <dd>{{item.id}}</dd>
        <dt i18n>Name</dt>
        <dd>{{item.name}}</dd>
    </dl>

    <h3 i18n>Metadata</h3>
    <ng-container *ngIf="item.metadata.length; else unavailable">
        <dl>
            <ng-container *ngFor="let data of item.metadata">
                <dt>{{data.dimension.name}}</dt>
                <dd>{{data.value}}</dd>
            </ng-container>
        </dl>
    </ng-container>

    <h3 i18n>Values</h3>
    <ng-container *ngIf="item.values.length; else unavailable">
        <dl>
            <ng-container *ngFor="let data of item.values">
                <dt>{{data.dimension.name}}</dt>
                <ng-template #value>
                    <dd>{{data.value}}</dd>
                </ng-template>
                <ng-container *ngIf="data.value.code && data.value.name; else value">
                    <dd><abbr [title]="data.value.name">{{data.value.code}}</abbr>
                            <dfn>{{data.value.name}}</dfn></dd>
                </ng-container>
            </ng-container>
        </dl>
    </ng-container>

    <h3 i18n>Children</h3>
    <ng-container *ngIf="item.children.length; else unavailable">
        <facts-children-component [items]="item.children"></facts-children-component>
    </ng-container>
</ng-container>
