details summary {
    display: inline-block;
    cursor: pointer;
}

td > dl {
    margin: 0;
}

dl * + dt {
    margin-top: 1em;
}

.inline dt, .inline dd {
    display: inline;
    margin: 0;
}

.inline dt:after {
    content: ':';
}

.inline dd:after {
    content: ';';
}
