body {
    margin: 1em;
}

nav {
    word-spacing: -0.25em;
}

nav ul {
    padding: 0;
}

nav li {
    display: inline-block;
    word-spacing: 0;
}

nav li + li:before {
    content: "|";
    margin: 0 0.25em;
}

details summary {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
    border-bottom: 1px solid black;
}

tbody tr {
    border-top: 1px solid black;
}

th {
    text-align: left;
}

th[colspan] {
    text-align: center;
}

th, td {
    padding: 0.25em;
}

td > dl {
    margin: 0;
}

dl * + dt {
    margin-top: 1em;
}

.inline dt, .inline dd {
    display: inline;
    margin: 0;
}

.inline dt:after {
    content: ':';
}

.inline dd:after {
    content: ';';
}

a[disabled], [disabled] a {
    pointer-events: none;
    color: inherit;
    cursor: default;
}

[disabled] {
    opacity: 0.6;
}

.compact {
    white-space: nowrap;
}

button {
    font-family: inherit;
}
