<ng-template #unavailable i18n><p>n/a</p></ng-template>

<h2>Dimensions</h2>

<ng-container *ngIf="items$ | async as items; else unavailable">
    <table>
        <thead>
            <tr>
                <th i18n>ID</th>
                <th i18n>Name</th>
                <th><abbr i18n-title title="Mode, structure and value type" i18n>Type</abbr></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <!--
                <td><a routerLink="/dimensions/byId/{{item.id}}" i18n-title title="Show dimension detail">{{item.id}}</a></td>
                -->
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td class="inline">
                    <dl>
                        <dd>{{item.mode | lowercase}}</dd>
                        <dd>{{item.structure | lowercase}}</dd>
                        <dd>{{item.valueType | lowercase}}</dd>
                    </dl>
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>
