<main>
    <header>
        <h1 i18n>The Vichren Application</h1>

        <nav>
            <ul>
                <li><a routerLink="/browser" i18n-title title="Browse budget forms" i18n>Budget forms</a></li>
                <li><a routerLink="/dimensions" i18n-title title="Dump dimensions" i18n>Dimensions</a></li>
                <li><a routerLink="/facts" i18n-title title="Dump facts" i18n>Facts</a></li>
            </ul>
        </nav>
    </header>

    <router-outlet></router-outlet>

    <footer>
        <p><about-component></about-component></p>
    </footer>
</main>
