<main>
    <header>
        <h1 i18n>The Vichren Application</h1>

        <nav>
            <ul>
                <li><a routerLink="/browser" i18n-title title="Browse datasets" i18n>Browser</a></li>
                <li><a routerLink="/dimensions" i18n-title title="Dump dimensions" i18n>Dimensions</a></li>
                <li><a routerLink="/datasets" i18n-title title="Dump datasets" i18n>Datasets</a></li>
            </ul>
        </nav>
    </header>

    <router-outlet></router-outlet>

    <footer>
        <p><about-component></about-component></p>
    </footer>
</main>
