<h2>Dataset detail</h2>

<dl *ngIf="values | async as item">
    <dd i18n>ID</dd>
    <dt>{{item.id}}</dt>
    <dd i18n>User</dd>
    <dt>{{item.user}}</dt>
    <dd i18n>Timestamp</dd>
    <dt>{{item.timestamp}}</dt>
    <dd i18n>Organization</dd>
    <dt>{{item.organization.name}}</dt>
    <dd i18n>Type</dd>
    <dt>{{item.type.name}}</dt>
    <dd i18n>State</dd>
    <dt>{{item.state.name}}</dt>
    <dd i18n>Period</dd>
    <dt>{{item.period.name}}</dt>
</dl>

<p><a routerLink="/datasets" i18n-title title="Dataset list" i18n>Close detail</a></p>
