<h2 i18n>Dataset list</h2>

<table>
    <thead>
        <tr>
            <th i18n>ID</th>
            <th i18n>User</th>
            <th i18n>Timestamp</th>
            <th i18n>Organization</th>
            <th i18n>Type</th>
            <th i18n>State</th>
            <th i18n>Period</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of values | async">
            <td><a routerLink="/datasets/{{item.id}}" i18n-title title="Dataset detail">{{item.id}}</a></td>
            <td>{{item.user}}</td>
            <td>{{item.timestamp}}</td>
            <td>{{item.organization}}</td>
            <td>{{item.type}}</td>
            <td>{{item.state}}</td>
            <td>{{item.period}}</td>
        </tr>
    </tbody>
</table>

<p><a routerLink="/datasets/filter" i18n-title title="Dataset filter" i18n>Filter list</a></p>
