<ng-template #unavailable i18n><p>n/a</p></ng-template>

<ng-container *ngIf="browser$ | async as browser">
    <h2 i18n>Budget forms</h2>

    <browsing-component [base]="base" [browser]="browser" [detailed]="true"></browsing-component>

    <article *ngIf="browser.current as item; else unavailable">
        <header>
            <h3>{{item.name}}</h3>

            <dl class="inline">
                <!--
                <dt i18n>ID</dt>
                <dd>{{item.id}}</dd>
                -->
                <dt i18n>Type</dt>
                <dd>{{item.type}}</dd>
                <dt i18n>Period</dt>
                <dd>{{item.period}}</dd>
                <dt i18n>Organization</dt>
                <dd>{{item.organization}}</dd>
            </dl>
        </header>

        <section>
            <table>
                <thead>
                    <tr>
                        <th i18n><abbr i18n-title title="Value number" i18n>Nr.</abbr></th>
                        <!--
                        <th i18n>ID</th>
                        -->
                        <th i18n>Name</th>
                        <th i18n>EBK</th>
                        <th i18n>EBK Title</th>
                        <th i18n>CPV</th>
                        <th i18n>CPV Title</th>
                        <th i18n>Funding</th>
                        <th i18n>Amount</th>
                        <th i18n>Status</th>
                        <!--
                        <th i18n>User</th>
                        <th i18n>Timestamp</th>
                        -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let value of item.values">
                        <td>{{value.number}}</td>
                        <!--
                        <td>{{value.id}}</td>
                        -->
                        <td>{{value.name}}</td>
                        <td class="compact">{{value.ebk}}</td>
                        <td>{{value.ebkTitle}}</td>
                        <td class="compact">{{value.cpv}}</td>
                        <td>{{value.cpvTitle}}</td>
                        <td>{{value.funding}}</td>
                        <td>{{value.amount}}</td>
                        <td>{{value.status}}</td>
                        <!--
                        <td>{{value.user}}</td>
                        <td>{{value.timestamp | timestamp}}</td>
                        -->
                    </tr>
                </tbody>
            </table>
        </section>

        <aside>
            <dl class="inline">
                <dt i18n>State</dt>
                <dd>{{item.metadata.state}}</dd>
                <dt i18n>Version</dt>
                <dd>{{item.metadata.version | unavailable}}</dd>
                <dt i18n>User</dt>
                <dd>{{item.metadata.user}}</dd>
                <dt i18n>Timestamp</dt>
                <dd>{{item.metadata.timestamp | timestamp}}</dd>
            </dl>
        </aside>
    </article>
</ng-container>
